body{
    background-color: black;
    content:teal;
}
header{
    background-color:coral ;
    color: teal;
    font-size:xx-large;
    font-style: oblique;
    margin:0;

}
nav{
    border-radius: 5px;
    border-color: red;
    border:10px;
    background-color: white;
    height:30px;
    font-weight: 900;
    font-size: 20px;
    color: teal;
}

.item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: teal;
    justify-content: center;
}
.yes{
    display: flex;
    flex-direction: row;
}
.main2{
    width:400px;
}